node-red/smart_remote.json
[{"id":"4d7ebdf8.2a3754","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6b6c023.f4883","type":"mqtt in","z":"4d7ebdf8.2a3754","name":"weather","topic":"/weather","qos":"2","broker":"a54d4a26.ae4528","x":150,"y":100,"wires":[["f6e25327.6272b","372f33d7.c9eb9c"]]},{"id":"71fffe61.a00fa","type":"influxdb out","z":"4d7ebdf8.2a3754","influxdb":"f92a7551.0003e8","name":"weather","measurement":"weather","precision":"","retentionPolicy":"","x":560,"y":100,"wires":[]},{"id":"f6e25327.6272b","type":"json","z":"4d7ebdf8.2a3754","name":"dht22","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["3b6a6a60.36d486","71fffe61.a00fa"]]},{"id":"3b6a6a60.36d486","type":"debug","z":"4d7ebdf8.2a3754","name":"dht object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":160,"wires":[]},{"id":"372f33d7.c9eb9c","type":"debug","z":"4d7ebdf8.2a3754","name":"dht22 json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":180,"wires":[]},{"id":"91ea878f.888018","type":"mqtt in","z":"4d7ebdf8.2a3754","name":"offline","topic":"/offline","qos":"2","broker":"a54d4a26.ae4528","x":150,"y":500,"wires":[["ba35b295.fc0c"]]},{"id":"ba35b295.fc0c","type":"debug","z":"4d7ebdf8.2a3754","name":"mosquitto offline","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":500,"wires":[]},{"id":"a676c8ef.632878","type":"mqtt in","z":"4d7ebdf8.2a3754","name":"battery","topic":"/battery","qos":"2","broker":"a54d4a26.ae4528","x":150,"y":300,"wires":[["4a8f9403.1c311c","15ea2526.290fcb"]]},{"id":"15ea2526.290fcb","type":"debug","z":"4d7ebdf8.2a3754","name":"battery json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":380,"wires":[]},{"id":"4a8f9403.1c311c","type":"json","z":"4d7ebdf8.2a3754","name":"battery","property":"payload","action":"obj","pretty":false,"x":350,"y":300,"wires":[["80626e45.da981","db8e28bf.af9c38"]]},{"id":"80626e45.da981","type":"influxdb out","z":"4d7ebdf8.2a3754","influxdb":"f92a7551.0003e8","name":"battery","measurement":"battery","precision":"","retentionPolicy":"","x":550,"y":300,"wires":[]},{"id":"db8e28bf.af9c38","type":"debug","z":"4d7ebdf8.2a3754","name":"battery object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":380,"wires":[]},{"id":"89a837a9.4816a8","type":"comment","z":"4d7ebdf8.2a3754","name":"Convert json to js object","info":"","x":360,"y":60,"wires":[]},{"id":"55ec4b0.fcebfb4","type":"comment","z":"4d7ebdf8.2a3754","name":"Convert json to js object","info":"","x":360,"y":260,"wires":[]},{"id":"88f49603.e586c8","type":"comment","z":"4d7ebdf8.2a3754","name":"If sensor is offline just write it in debug window","info":"","x":290,"y":460,"wires":[]},{"id":"23a78b39.9b8464","type":"tcp in","z":"4d7ebdf8.2a3754","name":"input:9090","server":"server","host":"","port":"9090","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":600,"wires":[["9ea17c68.addc5"]]},{"id":"9ea17c68.addc5","type":"json","z":"4d7ebdf8.2a3754","name":"json to obj","property":"payload","action":"obj","pretty":false,"x":230,"y":600,"wires":[["e12812d.6f807f"]]},{"id":"3d0b697d.755946","type":"influxdb out","z":"4d7ebdf8.2a3754","influxdb":"f92a7551.0003e8","name":"influx logs","measurement":"weather","precision":"","retentionPolicy":"","x":820,"y":560,"wires":[]},{"id":"e12812d.6f807f","type":"switch","z":"4d7ebdf8.2a3754","name":"type of message","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"log","vt":"str"},{"t":"eq","v":"mqtt","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":410,"y":600,"wires":[["8cf82dc.ef076d"],["f11ad93d.4a5288"],[]]},{"id":"c2406839.0cbf98","type":"debug","z":"4d7ebdf8.2a3754","name":"log message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":500,"wires":[]},{"id":"ba31c3d.9e8ea4","type":"alexa-home","z":"4d7ebdf8.2a3754","conf":"8884c1a6.b6448","device":"49421","acknoledge":true,"name":"Light","topic":"","x":130,"y":820,"wires":[["d6d54251.cf0af"]]},{"id":"d6d54251.cf0af","type":"switch","z":"4d7ebdf8.2a3754","name":"command","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":820,"wires":[["38e55654.543f9a"],["a6d06550.5db418"],["dd81ac87.8c1fb"]]},{"id":"38e55654.543f9a","type":"template","z":"4d7ebdf8.2a3754","name":"on","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2571 1665 8599 4462 [3a1b11a1b1a1b3a1b1a1b3a1b1a1b5a1b1a1b5a1b5a1b5a1b1a1b3a1b1a1b1a]\n","output":"str","x":570,"y":780,"wires":[["ca4e988f.0a4ba8","39be9517.db994a"]]},{"id":"a6d06550.5db418","type":"template","z":"4d7ebdf8.2a3754","name":"off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"2571 1662 8553 4483 [3a1b11a1b1a1b3a1b1a1b3a1b1a1b5a1b1a1b1a1b1a1b1a1b5a1b11a1b1a1b1a]\n","output":"str","x":570,"y":820,"wires":[["ca4e988f.0a4ba8","39be9517.db994a"]]},{"id":"dd81ac87.8c1fb","type":"template","z":"4d7ebdf8.2a3754","name":"small","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2571 1664 8627 4464 [3a1b11a1b1a1b3a1b1a1b3a1b1a1b7a1b1a1b1a1b1a1b5a1b1a1b9a1b1a1b1a]\n","output":"str","x":570,"y":860,"wires":[["ca4e988f.0a4ba8","39be9517.db994a"]]},{"id":"ca4e988f.0a4ba8","type":"mqtt out","z":"4d7ebdf8.2a3754","name":"alexa/esp1","topic":"alexa/esp1","qos":"2","retain":"true","broker":"a54d4a26.ae4528","x":830,"y":820,"wires":[]},{"id":"39be9517.db994a","type":"debug","z":"4d7ebdf8.2a3754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":900,"wires":[]},{"id":"2b6548d1.144fd8","type":"mqtt out","z":"4d7ebdf8.2a3754","name":"alexa/esp1/red_led","topic":"alexa/esp1/red_led","qos":"2","retain":"true","broker":"a54d4a26.ae4528","x":750,"y":1040,"wires":[]},{"id":"a0e09f69.981e9","type":"inject","z":"4d7ebdf8.2a3754","name":"Led on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":980,"wires":[["13ebfa5e.a69686"]]},{"id":"e35908f8.574518","type":"inject","z":"4d7ebdf8.2a3754","name":"Led off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1100,"wires":[["13ebfa5e.a69686"]]},{"id":"5431bdc5.9a22d4","type":"alexa-home","z":"4d7ebdf8.2a3754","conf":"8884c1a6.b6448","device":"47448","acknoledge":true,"name":"Test","topic":"","x":100,"y":1040,"wires":[["13ebfa5e.a69686"]]},{"id":"13ebfa5e.a69686","type":"switch","z":"4d7ebdf8.2a3754","name":"command","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":1040,"wires":[["27e81bd6.7d6514"],["ea454f5.f6145b"]]},{"id":"27e81bd6.7d6514","type":"template","z":"4d7ebdf8.2a3754","name":"on","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"11","output":"str","x":490,"y":1020,"wires":[["2b6548d1.144fd8"]]},{"id":"ea454f5.f6145b","type":"template","z":"4d7ebdf8.2a3754","name":"off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"10","output":"str","x":490,"y":1060,"wires":[["2b6548d1.144fd8"]]},{"id":"8cf82dc.ef076d","type":"function","z":"4d7ebdf8.2a3754","name":"get a message","func":"return { payload: msg.payload.message };","outputs":1,"noerr":0,"x":620,"y":560,"wires":[["c2406839.0cbf98","3d0b697d.755946"]]},{"id":"f11ad93d.4a5288","type":"function","z":"4d7ebdf8.2a3754","name":"to mqtt topic","func":"return {\n    payload: msg.payload.message,\n    topic: msg.payload.topic\n};","outputs":1,"noerr":0,"x":610,"y":600,"wires":[["fc8a8418.1725a8","148df731.106079"]]},{"id":"fc8a8418.1725a8","type":"mqtt out","z":"4d7ebdf8.2a3754","name":"custom topic","topic":"","qos":"2","retain":"true","broker":"a54d4a26.ae4528","x":810,"y":600,"wires":[]},{"id":"148df731.106079","type":"debug","z":"4d7ebdf8.2a3754","name":"mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":660,"wires":[]},{"id":"a54d4a26.ae4528","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"node_red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f92a7551.0003e8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"smart_remote","name":"","usetls":false,"tls":""},{"id":"8884c1a6.b6448","type":"alexa-home-conf","z":"","username":"notfoundsam"}]