node-red/smart_remote.json
[
    {
        "id": "fc61ead0.a7f3c8",
        "type": "mqtt in",
        "z": "865ee89b.5f6078",
        "name": "weather",
        "topic": "/weather",
        "qos": "2",
        "broker": "a54d4a26.ae4528",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "4afc568f.bc64f8",
                "5f0978d4.cdfc78"
            ]
        ]
    },
    {
        "id": "af1ece5f.8a77d",
        "type": "influxdb out",
        "z": "865ee89b.5f6078",
        "influxdb": "f92a7551.0003e8",
        "name": "weather",
        "measurement": "weather",
        "precision": "",
        "retentionPolicy": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "4afc568f.bc64f8",
        "type": "json",
        "z": "865ee89b.5f6078",
        "name": "dht22",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "52410b66.653aa4",
                "af1ece5f.8a77d"
            ]
        ]
    },
    {
        "id": "52410b66.653aa4",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "dht object",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "5f0978d4.cdfc78",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "dht22 json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "8228753a.e8faa8",
        "type": "mqtt in",
        "z": "865ee89b.5f6078",
        "name": "offline",
        "topic": "/offline",
        "qos": "2",
        "broker": "a54d4a26.ae4528",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "2c45e53.6dfc21a"
            ]
        ]
    },
    {
        "id": "2c45e53.6dfc21a",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "mosquitto offline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "52666e5c.a9996",
        "type": "mqtt in",
        "z": "865ee89b.5f6078",
        "name": "battery",
        "topic": "/battery",
        "qos": "2",
        "broker": "a54d4a26.ae4528",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "8ea2da1f.061958",
                "cad2d0fa.5f7b"
            ]
        ]
    },
    {
        "id": "cad2d0fa.5f7b",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "battery json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ea2da1f.061958",
        "type": "json",
        "z": "865ee89b.5f6078",
        "name": "battery",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "3261cd65.796f02",
                "d4da5c8b.43945"
            ]
        ]
    },
    {
        "id": "3261cd65.796f02",
        "type": "influxdb out",
        "z": "865ee89b.5f6078",
        "influxdb": "f92a7551.0003e8",
        "name": "battery",
        "measurement": "battery",
        "precision": "",
        "retentionPolicy": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "d4da5c8b.43945",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "battery object",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "642b007c.edc94",
        "type": "comment",
        "z": "865ee89b.5f6078",
        "name": "Convert json to js object",
        "info": "",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "293635d.5da49ca",
        "type": "comment",
        "z": "865ee89b.5f6078",
        "name": "Convert json to js object",
        "info": "",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "226e5ced.0d5454",
        "type": "comment",
        "z": "865ee89b.5f6078",
        "name": "If sensor is offline just write it in debug window",
        "info": "",
        "x": 290,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ac0f076.eaa74",
        "type": "tcp in",
        "z": "865ee89b.5f6078",
        "name": "arduino",
        "server": "server",
        "host": "",
        "port": "9090",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "d1ed399c.40caa8",
                "6f6d71b8.5a7cd"
            ]
        ]
    },
    {
        "id": "d1ed399c.40caa8",
        "type": "debug",
        "z": "865ee89b.5f6078",
        "name": "arduino json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 680,
        "wires": []
    },
    {
        "id": "6f6d71b8.5a7cd",
        "type": "json",
        "z": "865ee89b.5f6078",
        "name": "arduino",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "38368414.f7a60c"
            ]
        ]
    },
    {
        "id": "38368414.f7a60c",
        "type": "influxdb out",
        "z": "865ee89b.5f6078",
        "influxdb": "f92a7551.0003e8",
        "name": "arduino weather",
        "measurement": "weather",
        "precision": "",
        "retentionPolicy": "",
        "x": 580,
        "y": 600,
        "wires": []
    },
    {
        "id": "a54d4a26.ae4528",
        "type": "mqtt-broker",
        "z": "",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node_red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f92a7551.0003e8",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "smart_remote",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]
