node-red/weather.json
[{"id":"139cd499.bd04cb","type":"mqtt in","z":"e624c434.2df818","name":"weather","topic":"/weather","qos":"2","broker":"68696c2f.91ceb4","x":110,"y":340,"wires":[["1d88b02c.f588a","63470c10.861434","25751ac5.f75f96"]]},{"id":"f672d4f1.ff6208","type":"influxdb out","z":"e624c434.2df818","influxdb":"4b5f5017.819e3","name":"weather","measurement":"weather","precision":"","retentionPolicy":"","x":540,"y":460,"wires":[]},{"id":"1d88b02c.f588a","type":"function","z":"e624c434.2df818","name":"test","func":"// msg.payload\n// node.log(msg.payload);\n\nvar temp = /temp:(.+?);/.exec(msg.payload);\n// node.log(node.name);\nnode.log(temp);\n\nmsg.payload = [\n    {\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n    },\n    {\n        device: \"dht22-1\"\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["78c1ff61.dd2a"]]},{"id":"78c1ff61.dd2a","type":"debug","z":"e624c434.2df818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":340,"wires":[]},{"id":"63470c10.861434","type":"json","z":"e624c434.2df818","name":"dht","property":"payload","action":"obj","pretty":false,"x":330,"y":400,"wires":[["a5c98d14.e1bcc","f672d4f1.ff6208"]]},{"id":"a5c98d14.e1bcc","type":"debug","z":"e624c434.2df818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":400,"wires":[]},{"id":"25751ac5.f75f96","type":"debug","z":"e624c434.2df818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":480,"wires":[]},{"id":"ab91260e.85d538","type":"comment","z":"e624c434.2df818","name":"weather from dht22","info":"","x":150,"y":280,"wires":[]},{"id":"68696c2f.91ceb4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"node_red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b5f5017.819e3","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"smart_remote","name":"","usetls":false,"tls":""}]